*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --font-danScript: 'Dancing Script', cursive;
    --font-DMsans: 'DM Sans', sans-serif;
    --font-Montserrat: 'Montserrat', sans-serif;

    --bk-body: linear-gradient(45deg, #190361 0%, #B0F 100%);
}

body{
    background: var(--bk-body);
}

main {
    display: grid;
    place-items: center;
    height: 100vh;
}

.screen1, .screen2 {
    display: grid;
    justify-items: center;
    width: min(42.8rem, 80%);

    padding: 4.8rem 6.4rem 6.4rem;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
}

h1 {
    width: 27rem;
    color: #34355B;
    text-align: center;
    font-family: var(--font-Montserrat);
    font-size: 2.4rem;
    font-weight: 700;
    padding-bottom: 1.4rem;
}

p {
    color: #34355B;
    text-align: center;
    font-family: var(--font-DMsans);
    font-size: 1.5rem;
    padding-bottom: 2.6rem;
}

span {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 28rem;
    color: #000;
    text-align: center;
    font-family: var(--font-danScript);
    font-size: 2.2rem;
    font-weight: 400;

    background: #E4EDF1;
    box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);
}

button {
    display: flex;
    padding: 1.6rem;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 4px;
    background: #FF9500;

    color: #FFF;
    text-align: center;
    font-family: var(--font-DMsans);
    font-size: 1.5rem;
    font-weight: 700;

    margin-bottom: 0;
}

.hide{
    display: none;
}

/* Animation */
#cookie:hover {
    animation: vibrar .2s ease infinite;
}

@keyframes vibrar {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-1px);
    }
    50% {
        transform: translateX(1px);
    }
    75% {
        transform: translateX(-1px);
    }
    100% {
        transform: translateX(1px);
    }
}

span {
    animation: message 1s;
  }

@keyframes message {
    0% {
      transform: translateY(-10rem);
      scale: 0;
      opacity: 0.2;
    }
  
    100% {
      transform: translateY(0);
      scale: 100%;
      opacity: 1;
    }
  }

